<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a New Show</h1>
    <form action="/create_show" method="post">
        {% csrf_token %}
    <p>
        <label for="title">
            Title<input type="text" name="title">
        </label>
    </p>
    <p>
        <label for="network">
            Network<input type="text" name="network">
        </label>
    </p>
    <p>
        <label for="release_date">
            Release Date<input type="text" name="release_date" placeholder="yyyy-mm-dd">
        </label>
    </p>
    <p>
        <label for="description">
            Description<input type="text" name="description">
        </label>
    </p>
    <button type="submit">Create</button>
    </form>
</body>
</html>